<h2>Créer un formulaire</h2>
<%= form_with(model: @blog, local: true ,url: confirm_blogs_path) do |form| %>
  <% if @blog.errors.any? %>
      <div class="alert alert-danger" role="alert">Please this field must not be empty / Do not also exceed 140 caracters. </div>
  <% end %>
  <div class="blog_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="blog_title">
    <%= form.label :image %>
     <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache%>
  </div>
  <%= form.submit %>
<% end %>

<div class="row">
<div class="col-xs-12"><%= link_to "Retour à la liste des Blogs", blogs_path %></div>
</div>